/* Mobile*/
.wrapper {
  position: relative;
  padding: 24px 16px;
  /* max-width: 375px;
  width: 100%; */
  width: 360px;
  /* height: 446px; */
  border-radius: 30px;
  background: var(--accent);
  margin: 0 auto;
  text-align: center;
}

/* Tablet*/
@media (min-width: 768px) {
  .wrapper {
    /* max-width: 704px; */
    width: 768px;
    flex-shrink: 0;
    padding-left: 64px;
    padding-right: 61px;
    padding-bottom: 50px;
  }
}

/* Desktop*/
@media (min-width: 1440px) {
  .wrapper {
    width: 360px;
    /* height: 736px; */
  }
}
