/* Mobile */
.wrapper {
  /* max-width: 375px;
  width: 100%; */
  width: 375px;
  height: auto;
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  background: var(--background);
}
.header {
  padding: 10px;
}

.listContainer {
  display: flex;
}

.recipesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  gap: 18px 14px;
}

.recipeList .text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white);
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    height: auto;
    /* max-width: 768px; */
    /* height: 446px; */
  }
}

/* Desktop*/
@media (min-width: 1440px) {
  .wrapper {
    /* max-width: 672px; */
    /* width: 672px; */
    height: 736px;
  }
}
